.custom-btn {
	padding: 10px 30px;
	text-transform: uppercase;
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;

	&--w-sm-100 {
		@media screen and (max-width: 576px) {
			flex-basis: 100%;
		}

	}

	&--primary {
		background: #7ea4e8;
		border-color: #7ea4e8;

		&:hover {
			background: #6787c2;
			border-color: #6787c2;				
		}
	}

	&--secondary {
		background: #6a7079;
		border-color: #6a7079;

		&:hover {
			background: #474c52;
			border-color: #474c52;				
		}
	}

	&--link {
		margin: 0;
		padding: 0;
		background: $white;
		border: none;
		color: $color-blue;

		&:hover,
		&:focus,
		&:active {
			background: $white;
			border: none;
			color: $color-blue;
			box-shadow: none;
		}
	}

	&__btn-icon {
		margin: 0 5px;
		width: 2rem;
		height: 2rem;
		fill: $white;

		&--color-blue {
			fill: $color-blue;
		}
	}
}
