html {
	font-size: 10px;
}

body {
	min-width: 320px;
	background: $white;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: $gray-500;
}

a {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
	font-weight: 700 !important;
	color: $color-blue;

	&:hover {
		color: $color-blue;		
	}
}

img {
	max-width: 100%;
	height: auto;
}

h1 { @include h1(); }

h2 { @include h2(); }

h3 { @include h3(); }

@media screen and (max-width: 992px) {
	
	html {
		font-size: 9px;
	}
}

@media screen and (max-width: 768px) {
	
	html {
		font-size: 8px;
	}
}

@media screen and (max-width: 576px) {
	
	html {
		font-size: 7px;
	}
}